body {
    margin: 0;
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.heading {
    display: flex;
    justify-content: center;
    background-color: lightblue;
    margin-top: 0;
    margin-bottom: 10px;
}

.pad-container {
    display: flex;
    justify-content: center;
}

.pad {
    width: 500px;
    height: 500px;
    display: grid;
    align-content: center;
    border: red;
    border-style: solid;
    background-color: white;
    border-width: 5px;
}

.bottomContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.gridInputs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: auto;
}

button {
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    width: 200;
    border-color: black;
}

button:hover {
    transform:scale(1.2);
    border-color: red;
    border-width: 1px;
}

.buttons-container {
    display: flex;
    gap: 15px;
}

#black:hover {
    background-color: black;
    color: white;
}

#blue:hover {
    background-color: blue;
    color: white;
}

#rainbow:hover {
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
    animation:slidebg 2s linear infinite;
}

